<ion-view title="Contactenos" id="page9" style="">
    <ion-content padding="true" class="has-header">
        <h5 id="contactenos-heading1" style="color: rgb(0, 0, 0); font-weight: 600; font-style: italic;">¿Tienes alguna pregunta de la aplicacion?</h5>
        <form id="contactenos-form6" class="list">
            <label class="item item-select" id="contactenos-select6">
                <span class="input-label">Selecciona asunto</span>
                <select>
                    <option>Fallas de equipo</option>
                    <option>Incompatibilidad</option>
                    <option>No aparece mi informacion</option>
                    <option>Otros</option>
                </select>
            </label>
            <label class="item item-input" id="contactenos-textarea1">
                <span class="input-label">Escriba aqui</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="contactenos-button16" class="button button-assertive  button-block">Enviar</button>
    </ion-content>
</ion-view>