<ion-view title="Inicio Mistral Econo" id="page1" style="">
    <ion-content padding="true" class="has-header">
        <h2 id="inicioMistralEcono-heading2" style="color: rgb(0, 0, 0);">Comunidad AeroMobileSoft</h2>
        <div class="list card" id="inicioMistralEcono-card21">
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <img src="img/facebook.jpg" style="display: block; margin-left: auto; margin-right: auto;" height="auto" width="100%">
            </div>
            <div class="item item-body" id="inicioMistralEcono-list-item-container1" style="">
                <div id="inicioMistralEcono-null" style="margin-top:0px;color:#000000;">
                    <h3>¿Te interesa saber lo mejor de la tecnologia?
                        <strong>Siguenos!!!!</strong>
                    </h3>
                </div>
            </div>
            <button class="button button-full button-positive" ng-click="clkface()">
              Siguenos en Facebook!!
            </button>
        </div>
        <div class="list card" id="inicioMistralEcono-card22">
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <img src="img/twitter.jpg" style="display: block; margin-left: auto; margin-right: auto;" height="auto" width="100%">
            </div>
            <div class="item item-body" id="inicioMistralEcono-list-item-container1" style="">
                <div id="inicioMistralEcono-null" style="margin-top:0px;color:#000000;">
                    <h3>¿Te interesa saber lo mejor de la tecnologia?
                        <strong>Siguenos en twitter!!!!</strong>
                    </h3>
                </div>
            </div>
            <button class="button button-full button-calm" ng-click="clktwi()">
              Siguenos en Twitter!!
            </button>
        </div>
    </ion-content>
</ion-view>