<ion-view title="Mistral Econo" hide-nav-bar="true" id="page4" style="">
    <ion-content padding="true" style="background: url(img/x7fZt9EQCSSSZ3wuJ7Xz_Imabase.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <button id="mistralEcono-button11" class="button button-positive  button-block button-clear"></button>
        <button id="mistralEcono-button10" style="font-weight:300;text-align:left;border-radius:1px 1px 1px 1px;" class="button button-positive  button-block button-clear"></button>
        <button id="mistralEcono-button9" class="button button-positive  button-block button-clear"></button>
        <a ui-sref="opciones.inicioMistralEcono" id="mistralEcono-button8" class="button button-positive  button-block icon-left ion-social-facebook" ng-click="clkinicio()">Inicia sesion con Facebook</a>
        <a ui-sref="opciones.inicioMistralEcono" id="mistralEcono-button9" class="button button-assertive  button-block" ng-click="clkgoogle()">Inicia sesion con Google +</a>        
    </ion-content>
</ion-view>