<ion-view title="Registrar obligaciones" id="page3" style="">
    <ion-content padding="true" class="has-header">
        <form id="registrarObligaciones-form3" class="list">
            <label class="item item-input" id="registrarObligaciones-input4">
                <span class="input-label">Nombre:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="registrarObligaciones-input5">
                <span class="input-label">Valor:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-input" id="registrarObligaciones-input6">
                <span class="input-label">Cuotas:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-select" id="registrarObligaciones-select3">
                <span class="input-label">Prioridad:</span>
                <select>
                    <option>1 - Bajo</option>
                    <option>2 -Medio</option>
                    <option>3 - Alto</option>
                </select>
            </label>
        </form>
        <button id="registrarObligaciones-button13" class="button button-assertive  button-block">Registrar</button>
    </ion-content>
</ion-view>