<ion-view title="Registrar Ingresos" id="page5" style="">
    <ion-content padding="true" class="has-header">
        <form id="registrarIngresos-form4" class="list">
            <label class="item item-input" id="registrarIngresos-input7">
                <span class="input-label">Nombre:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="registrarIngresos-input8">
                <span class="input-label">Valor:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-input" id="registrarIngresos-input9">
                <span class="input-label">Cuotas:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-input" id="registrarIngresos-input10">
                <span class="input-label">Porcentaje:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-select" id="registrarIngresos-select4">
                <span class="input-label">Tipo ganancia:</span>
                <select></select>
            </label>
        </form>
        <button id="registrarIngresos-button14" class="button button-assertive  button-block">Registrar</button>
    </ion-content>
</ion-view>