<ion-view title="Registrar deudas" id="page6" style="">
    <ion-content padding="true" class="has-header">
        <form id="registrarDeudas-form5" class="list">
            <label class="item item-input" id="registrarDeudas-input11">
                <span class="input-label">Concepto:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="registrarDeudas-input12">
                <span class="input-label">Valor:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-input" id="registrarDeudas-input13">
                <span class="input-label">Destinatario:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-select" id="registrarDeudas-select5">
                <span class="input-label">Tipo deuda:</span>
                <select>
                    <option>3 - Deuda a favor</option>
                    <option>4 - Deuda en contra</option>
                </select>
            </label>
            <label class="item item-input" id="registrarDeudas-input14">
                <span class="input-label">Fecha de pago:</span>
                <input placeholder="" type="date">
            </label>
        </form>
        <button id="registrarDeudas-button15" class="button button-assertive  button-block">Registrar</button>
    </ion-content>
</ion-view>