<ion-view title="Registrar gastos" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <form id="registrarGastos-form2" class="list">
            <label class="item item-input" id="registrarGastos-input2">
                <span class="input-label">Nombre gasto:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="registrarGastos-input3">
                <span class="input-label">Valor gasto:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-select" id="registrarGastos-select1">
                <span class="input-label">Tipo gasto</span>
                <select></select>
            </label>
            <label class="item item-select" id="registrarGastos-select2">
                <span class="input-label">Forma Pago:</span>
                <select>
                    <option>1 - Efectivo</option>
                    <option>2 - Tarjeta debito</option>
                    <option>3 - Tarjeta credito</option>
                    <option>4 - Pago digital</option>
                </select>
            </label>
        </form>
        <button id="registrarGastos-button12" class="button button-assertive  button-block">Ingresar</button>
    </ion-content>
</ion-view>