<ion-view title="Reporte general" id="page12" style="">
    <ion-content padding="true" class="has-header">
        <form id="reporteGeneral-form10" class="list">
            <label class="item item-input" id="reporteGeneral-input20">
                <span class="input-label">Fecha inicial:</span>
                <input placeholder="" type="date">
            </label>
            <label class="item item-input" id="reporteGeneral-input21">
                <span class="input-label">Fecha final:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-select" id="reporteGeneral-select8">
                <span class="input-label">Tipo de gastos:</span>
                <select></select>
            </label>
            <label class="item item-select" id="reporteGeneral-select9">
                <span class="input-label">Forma de pago:</span>
                <select>
                    <option>999 - Todos</option>
                    <option>1 - Efectivo</option>
                    <option>2 - Tarjeta debito</option>
                    <option>3 - Tarjeta credito</option>
                    <option>4 - Pago digital</option>
                </select>
            </label>
            <label class="item item-input" id="reporteGeneral-input22">
                <span class="input-label">Valor de ingresos:</span>
                <input placeholder="" type="number">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <button id="reporteGeneral-button24" class="button button-assertive  button-block">Imprimir</button>
    </ion-content>
</ion-view>