<ion-view title="Simulador de ganancias" id="page8" style="">
    <ion-content padding="true" class="has-header">
        <form id="simuladorDeGanancias-form7" name="simuladorDeGanancias-form7" class="list">
            <label class="item item-input" id="simuladorDeGanancias-input15">
                <span class="input-label">Inversion:</span>
                <input name="valin" placeholder="Valor inversion" type="number" ng-model="simgan.valin" ng-required="true">
                    <span style="color:red" ng-show="simuladorDeGanancias-form7.valin.$dirty && simuladorDeGanancias-form7.valin.$error.required" >El valor de inversion es requerido</span>
<span style="color:red" ng-show="simuladorDeGanancias-form7.valin.$error.valin">El valor de inversion es requerido</span>
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input16">
                <span class="input-label">Porcentaje:</span>
                <input placeholder="Porcentaje" type="number" ng-model="simgan.porcen" >
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input17">
                <span class="input-label">Tiempo:</span>
                <input placeholder="Tiempo de inversion" type="number" ng-model="simgan.timin">
            </label>
        </form>
        <form id="simuladorDeGanancias-form8" class="list">
            <div class="spacer" style="width: 283px; height: 40px;">
                <h2>
                    Resultado:
                </h2>
            </div>
            <label class="item item-input" id="simuladorDeGanancias-input18">
                <span class="input-label">
                    Total mes: {{simgan.valin/100*simgan.porcen}}
                </span>
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input19">
                <span class="input-label">
                    Total general: {{simgan.valin/100*simgan.porcen*simgan.timin}}
                </span>
            </label>

            <button class="button button-full button-assertive" ng-click="clksimlim()">
                Limpiar
            </button>                

        </form>
    </ion-content>
</ion-view>