<ion-view title="Simulador de ganancias" id="page8" style="">
    <ion-content padding="true" class="has-header">
        <form id="simuladorDeGanancias-form7" class="list">
            <label class="item item-input" id="simuladorDeGanancias-input15">
                <span class="input-label">Valor de inversion:</span>
                <input placeholder="" type="number">
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input16">
                <span class="input-label">Porcentaje de ganancia:</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input17">
                <span class="input-label">Tiempo:</span>
                <input placeholder="" type="number">
            </label>
        </form>
        <form id="simuladorDeGanancias-form8" class="list">
            <div class="spacer" style="width: 283px; height: 40px;"></div>
            <label class="item item-input" id="simuladorDeGanancias-input18">
                <span class="input-label">ganancia mensual</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="simuladorDeGanancias-input19">
                <span class="input-label">Ganancia y total:</span>
                <input placeholder="" type="text">
            </label>
        </form>
    </ion-content>
</ion-view>